.button {
	background-color: #6a0dad;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	text-align: left;
	transition: all ease-in 0.2s;
	font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.heroinside{
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
}

.hero{
    margin-top: 30px;
    margin-bottom: 30px;
}

.heroparagraph{
    width: 50%;
    margin-bottom: 30px;
}

.heroimage{
    margin: auto;
}

.hero h1{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 20px;
    color: #6a0dad;
}

.hero p{
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .heroinside{
        flex-direction: column;
    }
    .heroparagraph{
        width: 100% !important;
    }

    .heroimage{
        display: none;
    }
}