.faq {
    padding: 4rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .faq h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .faqContainer {
    text-align: left;
  }
  
  .faqItem {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .faqQuestion {
    width: 100%;
    text-align: left;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
  }
  
  .faqQuestion:hover {
    color: #55068d;
  }
  
  .chevron {
    transition: transform 0.3s ease;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  .faqAnswer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 1rem;
  }
  
  .faqAnswer.show {
    max-height: 500px; /* Um valor alto para acomodar qualquer resposta */
    padding: 1rem;
  }
  
  .faqAnswer p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  