.footer {
    background-color: #fff;
    text-align: center;
  }
  
  .contactSection {
    background-color: #5C2682;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .contactSection h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
  
  .contactSection p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .inlineSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .inlineSocial span {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .logoSection img {
    width: 150px;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;

  }
  
  .links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    padding: 0;
  }
  
  .links ul li a {
    color: #333;
    font-weight: 400;
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .links ul li a:hover {
    color: #007bff;
  }
  
  .divisor {
    height: 1px;
    background-color: #eaeaea;
    margin: 1.5rem 0;
  }
  
  .trademark p {
    font-size: 0.9rem;
    color: #777;
    margin-top: 1rem;
  }
  
  .trademark{
    margin-bottom: 30px;
  }
  