.card {
	display: flex;
	flex-direction: column; /* Garante que o conteúdo fique alinhado verticalmente */
	justify-content: space-between; /* Distribui os elementos uniformemente */
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	background-color: white;
	max-width: 300px;
	min-height: 550px; /* Define uma altura mínima para todos os cards */
	color: #585858;
	margin: auto;
    gap: 20px;
}

/* Ajusta a imagem */
.image {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto;
}

/* Mantém os títulos alinhados */
.title {
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 10px;
	color: #6a0dad;
    line-height: 1.6rem;
}

/* Ajusta o espaço dos textos */
.subtitle {
	font-weight: 600;
}

/* Força os parágrafos a terem o mesmo tamanho */
.description {
	flex-grow: 1; /* Faz com que o texto ocupe o espaço restante */
	margin-bottom: 15px; /* Garante espaçamento */
}

/* Botão sempre alinhado na parte inferior */
.button {
	background-color: #6a0dad;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	margin-top: auto; /* Empurra o botão para a parte inferior do card */
	text-align: center;
	width: 100%;
	transition: all ease-in 0.2s;
	font-weight: 600;
}

.button:hover {
	background-color: #55068d;
	scale: 1.02;
}

/* Terapias */
.terapias {
	text-align: left;
	margin-top: 10px;
    margin-bottom: 15px;
}

.terapiaItem {
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
}

.terapiaButton {
	background: none;
	border: none;
	font-size: 1rem;
	color: #585858;
	font-weight: 400;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.terapiaButton:hover {
	color: #6a0dad;
}

/* Ícone de seta */
.chevron {
	transition: transform 0.3s ease;
}

.rotate {
	transform: rotate(180deg);
}

/* Descrição das terapias com transição suave */
.terapiaDescricao {
	font-size: 0.9rem;
	margin-top: 5px;
	color: #333;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease, padding 0.4s ease;
	padding: 0 1rem;
}

.terapiaDescricao.show {
	max-height: 500px;
	padding: 10px 1rem;
}
