.whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }
  
  .whatsappButton:hover {
    transform: scale(1.1);
  }
  